[submodule "AFNetworking"]
	path = AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "REComposeViewController"]
	path = REComposeViewController
	url = https://github.com/romaonthego/REComposeViewController.git
